

// * {
//   display: box;
// }

// .navbar-main {
//   margin-bottom: 20px;
//   color: black;
// }



.brand-myflix {
  color:  #690f38;
}

.navbar-link {
  color: white;
}

.navbar-main {
  background: white;
  margin-bottom: 2em;
}

.container {
  margin-bottom: 2em;
}

.navbar-light .navbar-brand {
  color:  #690f38;
  font-size: 30px;
}

.card-column {
  margin-top: 2em;
}

.log-out-button:hover {
  cursor: pointer;
}