.favorite-movies {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 1em;
}

.favorite-movies-title {
  margin-top: 0;
  margin-bottom: 0;
}


.card-img-top {
  height: 350px;
}



.button-primary {
  margin-right: 1em;
}

.profile-view {
  margin-top: 3em;
  
}

.profile-view .card-body {
  padding-left: 1em;
  padding-right: 0;
  // text-align: center;
}

.profile-text {
  height: .5em;
  font-size: 1.3em;
}

.profile-button {
  background: #690f38;
  margin-top: .3em;
}